<h2 style="padding-top: 3%">Dnevni Korisnici</h2>
<br>
<!--New Consumer-->
<div *ngIf="visible">
  <button type="button" class="btn btn-primary" [routerLink]="['/dayli-training/add-dayli-training']">
    Dodaj Vezbaca
  </button>
</div>
<br>

<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event)" placeholder="Trazi">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">
<!--Table-->
  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Ime </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.firstName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Prezime </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.lastName}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="dateOfBirth">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Datum rodjenja </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.dateOfBirth}} </mat-cell>
    </ng-container>

    <!-- Edit buttom Column -->
    <ng-container matColumnDef="Buttons" >
      <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
      <mat-cell *matCellDef="let element; let i" class="mat-cell">
        <button *ngIf="visible" mat-stroked-button color="warn" [routerLink]="['/dayli-training/view-daily-user', element.id]" class="btn btn-secondary">
          Pogledaj
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>
</div>

  <mat-paginator
    #paginator
    [length]="totalUsers"
    [pageSizeOptions]="[5,10,15,50,100]"
    showFirstLastButtons
  ></mat-paginator>

