
<!-- nav -->

<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
      <a class="nav-item nav-link" *ngIf="this.token == ''" routerLink="/account/login" routerLinkActive="active">Prijavi se</a>
      <a class="nav-item nav-link" *ngIf="this.token != ''"routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Početna strana</a>
      <!-- <a class="nav-item nav-link" *ngIf="this.token != '' && this.role =='Admin'" routerLink="/gym-worker/all-gym-workers" routerLinkActive="active">Svi radnici</a> -->
      <a class="nav-item nav-link" *ngIf="this.token != ''" routerLink="/gym-user/all-gym-users" routerLinkActive="active">Svi članovi</a>
      <a class="nav-item nav-link" *ngIf="this.token != ''" [routerLink]="['/account/profile', userId]" routerLinkActive="active">Profil</a>
      <a class="nav-item nav-link" *ngIf="this.token != ''" routerLink="/daily-training/view-all-daily" routerLinkActive="active">Dnevni korisnici</a>
      <a class="nav-item nav-link" *ngIf="this.token != ''" routerLink="/checkIn-history/view-checkins-by-date" routerLinkActive="active">Istorija treninga po danu</a>
      <a class="nav-item nav-link" *ngIf="this.token != ''" routerLinkActive="active" (click)="logOut()">Odjavi se</a>  
    </div>
</nav>

<!-- main app container -->
<div class="app-container">
  <alert></alert>
  <router-outlet></router-outlet>
</div>