<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 px-10">
        <img src="assets/img/BN GYM logo.jpg" class="img-fluid" style="width: 100%; height: 600px;">
      </div>
    </div>
  </div>
  <br>
  <div class="row" *ngIf="this.show == 1">
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Naše prostorije:</h5>
        </div>
        <div class=" card-body">
          <div class="image-container">
            <img src="assets/img/teretana slika 1.jpg" style="width: 100%; height: 100%;">
          </div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <br>
        </div>
        <div class=" card-body">
          <img src="assets/img/teretana slika 2.jpg" style="width: 100%; height: 100%;">
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <br>
        </div>
        <div class=" card-body">
          <img src="assets/img/teretana slika 3.jpg" style="width: 100%; height: 100%;">
        </div>
      </div>
    </div>
  </div>
  <div class=" row" *ngIf="this.show == 0">
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <br>
        </div>
        <div class=" card-body">
          <div class="image-container">
            <img src="assets/img/teretana slika 4.jpg" style="width: 100%; height: 100%;">
          </div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <br>
        </div>
        <div class=" card-body">
          <img src="assets/img/teretana slika 5.jpg" style="width: 100%; height: 100%;">
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <br>
        </div>
        <div class=" card-body">
          <img src="assets/img/teretana slika 6.jpg" style="width: 100%; height: 100%;">
        </div>
      </div>
    </div>
  </div>
  <div>
    <button class="btn btn-primary" (click)="toggleImages()">
      Sledeće
    </button>
  </div>

  <div class=" row">
    <div class=" col-lg-6 col-md-12">
      <div class=" card card-tasks">
        <div class=" card-header">
          <h6 class=" title d-inline">Kako do nas</h6>
          <br>
          <i class=" tim-icons icon-send text-success"> </i> Tiršova 9, Bijeljina
        </div>
        <br>
        <app-open-layers-map class="map"
        [zoom]="16"
        (mapReady)="onMapReady($event)"></app-open-layers-map>
      </div>
    </div>
    <div class=" col-lg-6 col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Naši treneri</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>Ime Trenera</th>
                  <th class=" text-center">Instagram profil</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Dragan Lackanović</td>
                  <td class=" text-center"><a href="https://instagram.com/official_bn_gym?igshid=ZGUzMzM3NWJiOQ==">https://instagram.com/official_bn_gym?igshid=ZGUzMzM3NWJiOQ==</a></td>
                </tr>
                <tr>
                  <td>Marko Radovanov</td>
                  <td class=" text-center"><a href="https://instagram.com/reapproach.coach?igshid=NTc4MTIwNjQ2YQ==">https://instagram.com/reapproach.coach?igshid=NTc4MTIwNjQ2YQ==</a></td>
                </tr>
                <tr>
                  <td>Zlatan Nikolić</td>
                  <td class=" text-center"><a href="https://instagram.com/nikolic.zlatan?igshid=ZGUzMzM3NWJiOQ==">https://instagram.com/nikolic.zlatan?igshid=ZGUzMzM3NWJiOQ==</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
