<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link
    href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
    rel="stylesheet">
  <title>Training Studio - Free CSS Template</title>
</head>

<body>

  <div class="row">
    <div class="col-12 px-10">
      <img src="assets/img/webLogo.png" class="img-fluid" style="width: 100%; height: 750px;">
    </div>
  </div>
  <!-- ***** Main Banner Area End ***** -->
  <br>
  <!-- ***** Testimonials Starts ***** -->
  <section class="section" id="trainers">
    <div class="container" style="padding: 0%;">
      <div class="row" >
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h2>Naši <em>Treneri</em></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 offset-lg-2">
          <div class="trainer-item">
            <div class="image-thumb">
              <img src="assets/img/trenerMarko.png" style="height: 350px; width: 500px;" alt="">
            </div>
            <div class="down-content">
              <span>Personalni Trener</span>
              <h4><a href="https://www.instagram.com/reapproach.coach/?igshid=NTc4MTIwNjQ2YQ%3D%3D">Marko Radovanov</a></h4>
              <p>Rođen 21.6.1991. u Beogradu. Diplomirao na Fakultetu sporta i fizičkog vaspitanja u Beogradu na temu "Primjena Powerlifting metoda u treningu sportista". Radi kao personalni trener u snazi i kondicioniranju od 2014. i pomoćni je trener Powerlifting reprezentacije Srbije od 2020. Aktivan je powerlifting takmičar SUDT Dinamo iz Pančeva. Višegodišnji uspijeh u fizičkoj pripremi sportista i rekreativaca, tjelesnoj rekompoziciji i snazi, kao i pripremi kandidata za upis na fakultet sporta, policijsku i vojnu akademiju.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="trainer-item">
            <div class="image-thumb">
              <img src="assets/img/trenerDragan.png" style="height: 350px; width: 500px;" alt="">
            </div>
            <div class="down-content">
              <span>Personalni Trener</span>
              <h4><a href="https://www.instagram.com/official_bn_gym/?igshid=ZGUzMzM3NWJiOQ%3D%3D">Dragan Lackanović</a></h4>
              <p>Rođen 14.09.1981. u Sarajevu. Magistrirao na Fakultetu Sporta i Fizičkog Vaspitanja u Istocnom Sarajevu. Radi kao profesor fizickog vaspitanja u srednjoj ekonomskoj skoli u Bijeljini. Radi kao personalni trener u snazi i kondicioniranju od 2007 god. Višegodišnji uspjeh u fizičkoj pripremi sportista i rekreativaca, tjelesnoj rekompoziciji i snazi, kao i pripremi kandidata za upis na fakultet sporta, policijsku i vojnu akademiju.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>

  <div class="row">
    <div class="section-heading" style="width: 100%;">
      <h2>Vježbački <em>Prostor</em></h2>
    </div>
    <div class="col-12 px-10">
      <ng-image-slider  style="width: 100%; height: 100%; text-align:center;margin:0; padding:0;" #nav
      [images]="imageObject" [infinite]="false" [autoSlide]="1" [imageSize]="{width: '45%', height: 500}" slideImage="1"></ng-image-slider>
   </div>
  </div>

  
  <div class="row" style="height: 150px;">
    <div class="col-lg-6 offset-lg-3">
      <div class="section-heading">
        <h2 >Saznaj ko smo <em>mi!</em></h2>
        <a class="btn btn-primary" style="background-color: #3b5998; width: 75px;" href="https://www.facebook.com/profile.php?id=100067580268275&mibextid=LQQJ4d" role="button"
        ><i class="fab fa-facebook-f"></i
        ></a>
        <a class="btn btn-primary" style=" background-color: #ac2bac; width: 75px;"  href="https://www.instagram.com/p/CQSiXtDHWDj/?igshid=MzRlODBiNWFlZA%3D%3D" role="button"
        ><i class="fab fa-instagram"></i
        ></a>
        <a class="btn btn-primary" style="background-color: #ed302f; width: 75px;" href="https://www.youtube.com/@zlatannikolic2475/videos" role="button"
        ><i class="fab fa-youtube"></i
        ></a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="section-heading" style="width: 100%;">
      <h2>kako <em>do nas</em></h2>
      <i class=" tim-icons icon-send text-success"> </i> Tiršova 9, Bijeljina
      <br>
      <i class=" tim-icons icon-send text-success"> </i> Radno vreme: 
      <br>
      <i class=" tim-icons icon-send text-success"> </i> Ponedeljak - Subota: 08:00 - 22:00 
      <br>
      <i class=" tim-icons icon-send text-success"> </i> Nedelja: 12:00 - 20:00 
      <br>
      
    </div>
    <div>
      
    </div>
    <div class="col-12 px-10">
      <app-open-layers-map class="map"
        [zoom]="16"
        (mapReady)="onMapReady($event)"></app-open-layers-map>
      </div>
  </div>

  <!-- ***** Footer Start ***** -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright &copy; 2020 Training Studio
            - Designed by <a rel="nofollow" href="https://templatemo.com" class="tm-text-link"
              target="_parent">TemplateMo</a><br>

            Distributed by <a rel="nofollow" href="https://themewagon.com" class="tm-text-link"
              target="_blank">ThemeWagon</a>
          </p>
        </div>
      </div>
    </div>
  </footer>

  <!-- jQuery -->
  <script src="../../assets/js/jquery-2.1.0.min.js"></script>

  <!-- Bootstrap -->
  <script src="../../assets/js/popper.js"></script>
  <script src="../../assets/js/bootstrap.min.js"></script>

  <!-- Plugins -->
  <script src="../../assets/js/scrollreveal.min.js"></script>
  <script src="../../assets/js/waypoints.min.js"></script>
  <script src="../../assets/js/jquery.counterup.min.js"></script>
  <script src="../../assets/js/imgfix.min.js"></script>
  <script src="../../assets/js/mixitup.js"></script>
  <script src="../../assets/js/accordions.js"></script>

  <!-- Global Init -->
  <script src="../../assets/js/custom.js"></script>

</body>

</html>
