<h2 style="text-align: center">Vezbac: : {{model.firstName}}</h2>
<hr />
<br />

<div style="margin-left: 25%">
  <form [formGroup]="form" (ngSubmit)="Update()" ngNativeValidate>
    <!--Label Name and input Enter name-->
    <div class="input-group mb-3" style="width: 700px">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >First Name</span
        >
      </div>
      <input
        formControlName="firstname"
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        value={{model.firstName}}
        [ngClass]="{ 'is-invalid': submitted && f['firstname'].errors }"
        required
      />
    </div>

    <!--Label Lastname and input Enter Lastname-->
    <div class="input-group mb-3" style="width: 700px">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Last Name</span
        >
      </div>
      <input
        formControlName="lastname"
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        value= {{model.lastName}}
        [ngClass]="{ 'is-invalid': submitted && f['lastname'].errors }"
        required
      />
    </div>

    <!--Label email and input Enter Email-->
    <div class="input-group mb-3" style="width: 700px">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Email</span
        >
      </div>
      <input
        formControlName="email"
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        value={{model.email}}
        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
        required
      />
    </div>
    <div class="input-group mb-3" style="width: 700px">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Adresa</span
        >
      </div>
      <input
        formControlName="address"
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        value={{model.address}}
        [ngClass]="{ 'is-invalid': submitted && f['address'].errors }"
        required
      />
    </div>
    <div class="input-group mb-3" style="width: 700px">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Tip</span
        >
      </div>
      <input
        formControlName="type"
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        value={{model.type}}
        [ngClass]="{ 'is-invalid': submitted && f['type'].errors }"
        required
      />
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary" style="margin-top: 2%">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Promeni
      </button>
    </div>
  </form>
    <div class="input-group mb-3" style="width: 700px">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Expires on</span
        >
      </div>
      <input
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        placeholder= {{model.expiresOn}}
        readonly = true
      />
    </div>

    <div class="input-group mb-3" style="width: 700px">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Is Frozen</span
        >
      </div>
      <input
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        placeholder={{model.isFrozen}}
        readonly = true
      />
    </div>

    <div class="input-group mb-3" style="width: 700px" >
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Freez Date</span
        >
      </div>
      <input
      
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        placeholder={{model.freezeDate}}
        readonly = true
      />
    </div>

    <div class="input-group mb-3" style="width: 700px">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Is Inactive</span
        >
      </div>
      <input
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        placeholder={{model.isInactive}}
        readonly = true
      />
    </div>

    <div class="input-group mb-3" style="width: 700px">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Last CheckIn</span
        >
      </div>
      <input
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        placeholder={{model.lastCheckIn}}
        readonly = true
      />
    </div>

    <div class="input-group mb-3" style="width: 700px">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Type</span
        >
      </div>
      <input
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        placeholder={{model.type}}
        readonly = true
      />
    </div>

    <div class="input-group mb-3" style="width: 700px">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Number Of Arrivals</span
        >
      </div>
      <input
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        placeholder={{model.numberOfArrivals}}
        readonly = true
      />
    </div>

    <div>
      <button *ngIf="model.isFrozen == 'Ne'" mat-stroked-button color="warn" class="btn btn-primary" (click)="Freez()">
        Zamrzni
      </button>

      <button *ngIf="model.isFrozen == 'Da'" mat-stroked-button color="warn" class="btn btn-primary" (click)="Activate()">
        Aktiviraj
      </button>

      <button style="margin-left: 10%" *ngIf="model.isFrozen == 'Ne'" mat-stroked-button color="warn" class="btn btn-primary" (click)="Extend()">
        Produzi Clanarinu
      </button>
    </div>

</div>