<h2 style="text-align: center">Novi član</h2>
<hr />
<br />

<div style="margin: auto; width: 750px;">
  <form [formGroup]="form" (ngSubmit)="add()" ngNativeValidate>
    <!--Label Name and input Enter name-->
    <div style="width: 700px">
      <div>
        <span
          >Ime</span
        >
      </div>
      <input
        formControlName="firstname"
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        placeholder="Unesi ime..."
        [ngClass]="{ 'is-invalid': submitted && f['firstname'].errors }"
        required
      />
    </div>

    <!--Label Lastname and input Enter Lastname-->
    <div style="width: 700px">
      <div>
        <span
          >Prezime</span
        >
      </div>
      <input
      formControlName="lastname"
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        placeholder="Unesi prezime..."
        [ngClass]="{ 'is-invalid': submitted && f['lastname'].errors }"
        required
      />
    </div>

    <!--Label email and input Enter Email-->
    <div style="width: 700px">
      <div>
        <span
          >Email</span
        >
      </div>
      <input
        formControlName="email"
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        placeholder="Unesi email..."
        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
        required
      />
    </div>

     <!--Label address and input Enter Address-->
     <div style="width: 700px">
      <div>
        <span
          >Adresa</span
        >
      </div>
      <input
        formControlName="address"
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        placeholder="Unesi addresu..."
        [ngClass]="{ 'is-invalid': submitted && f['address'].errors }"
        required
      />
    </div>

    <div style="width: 700px">
      <div>
        <label>Tip</label>
      </div>
      <select
        formControlName="type"
        id="inputState" class="form-control"
        placeholder="Select type..."
        [ngClass]="{ 'is-invalid': submitted && f['type'].errors }"
        required
      >
        <option value="HalfMonth">Pola mjeseca</option>
        <option value="Month">Mjesec</option>
        <option value="ThreeMonts">Tri mjeseca</option>
        <option value="HalfYear">Pola godine</option>
        <option value="Year">Godina</option>
      </select>
    </div>

    <!--Button Reposrt-->
    <div class="form-group" style="margin-left: 38%;">
      <button [disabled]="loading" class="btn btn-primary" style="margin-top: 2%">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Dodaj
      </button>
    </div>
  </form>
</div>