.mat-column-Buttons {
    flex: 0 0 15%;
}

.inactive-row {
    background-color: lightgray;
}

/* For inactive background */
.inactive-color {
    color: red; /* Set the desired inactive background color */
}