<h2 style="padding-top: 3%">Svi Radnici</h2>
<br>
<!--New Consumer-->
<div *ngIf="visible">
  <button type="button" class="btn btn-primary" [routerLink]="['/gym-worker/add-gym-worker']">
    Dodaj Radnika
  </button>
</div>
<br>

<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event)" placeholder="Trazi">
  </mat-form-field>
</div>

<!--Table-->
<div class="example-container mat-elevation-z8">
  <mat-table matSort [dataSource]="dataSource">

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header (click)="getRecord()"> Ime </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.firstName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef> Prezime </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.lastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Buttons">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element; let i" class="mat-cell">
        <button *ngIf="visible" mat-stroked-button color="warn"[routerLink]="['/gym-worker/view-gym-worker', element.id]" class="btn btn-secondary">
          Pogledaj
        </button>
        <button *ngIf="element.isBlocked == false" mat-stroked-button color="warn" (click)="block(element.id)" class="btn btn-secondary">
          Blokiraj
        </button>
        <button *ngIf="element.isBlocked == true" mat-stroked-button color="warn" (click)="activate(element.id)" class="btn btn-secondary">
          Aktiviraj
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row >
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row >
  </mat-table>
</div>

<mat-paginator
#paginator
[length]="totalWorkers"
[pageSizeOptions]="[5,10,15,50,100]"
showFirstLastButtons
></mat-paginator>
