<h2 style="text-align: center">Profil: {{model.firstName}}</h2>
<hr />
<br />

<div style="margin: auto; width: 750px;">
  <form [formGroup]="form" (ngSubmit)="update()" ngNativeValidate>
    <!--Label Name and input Enter name-->
    <div style="width: 700px">
      <div>
        <span
          >Ime</span
        >
      </div>
      <input
        formControlName="firstName"
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        value={{model?.firstName}}
        [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }"
        required
      />
    </div>

    <!--Label Lastname and input Enter Lastname-->
    <div style="width: 700px">
      <div>
        <span
          >Prezime</span
        >
      </div>
      <input
        formControlName="lastName"
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        value= {{model?.lastName}}
        [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }"
        required
      />
    </div>

    <!--Label email and input Enter Email-->
    <div style="width: 700px">
      <div>
        <span
          >Email</span
        >
      </div>
      <input
        formControlName="email"
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        value={{model?.email}}
        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
        required
      />
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary" style="margin-top: 2%">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Promijeni
      </button>
    </div>
  </form>

  <div *ngIf="!changePasswordVisible">
    <button  class="btn btn-primary" style="margin-top: 2%" (click)="changePasswordVisibleEnable()">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1" ></span>
      Promijeni lozinku
    </button>
  </div>

  <div *ngIf="changePasswordVisible" >
    <form [formGroup]="formPasswordChange" (ngSubmit)="changePassword()" ngNativeValidate>
      <div>
        <div style="width: 700px" >
          <div>
            <span
              >Trenutna lozinka</span
            >
          </div>
          <input
            formControlName="currentPassword"
            type="password"
            class="form-control"
            aria-label="Default"
            aria-describedby="inputGroup-sizing-default"
            [ngClass]="{ 'is-invalid': submitted && g['currentPassword'].errors }"
            placeholder="Trenutna lozinka"
            required
          />
        </div>
      </div>

      <div>
        <div style="width: 700px">
          <div>
            <span
              >Nova Lozinka</span
            >
          </div>
          <input
            formControlName="newPassword"
            type="password"
            class="form-control"
            aria-label="Default"
            aria-describedby="inputGroup-sizing-default"
            placeholder="Nova lozinka"
            [ngClass]="{ 'is-invalid': submitted && g['newPassword'].errors }"
            required
          />
        </div>
      </div>

      <div>
        <div style="width: 700px">
          <div>
            <span
              >Potvrdite lozinku</span
            >
          </div>
          <input
            formControlName="confirmNewPassword"
            type="password"
            class="form-control"
            aria-label="Default"
            aria-describedby="inputGroup-sizing-default"
            placeholder="Potvrdite lozinku"
            [ngClass]="{ 'is-invalid': submitted && g['confirmNewPassword'].errors }"
            required
          />
          <span style="color: orange;">Nova lozinka mora da sadrži najmanje 8 karaktera, barem jedno veliko slovo i barem jedan broj!</span>
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary" style="margin-top: 2%">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Promijeni lozinku
        </button>
      </div>
    </form>
  </div>
</div>
