<h2 style="text-align: center">Novi radnik</h2>
<hr />
<br />

<div style="margin-left: 25%">
  <form [formGroup]="form" (ngSubmit)="save()" ngNativeValidate>
    <!--Label Name and input Enter name-->
    <div cstyle="width: 700px">
      <div>
        <span
          >Ime</span
        >
      </div>
      <input
        formControlName="firstname"
        type="text"
        class="form-control"
        aria-label="Default"
        placeholder="Upisite ime"
        [ngClass]="{ 'is-invalid': submitted && f['firstname'].errors }"
        required
      />
    </div>

    <!--Label Lastname and input Enter Lastname-->
    <div style="width: 700px">
      <div>
        <span
          >Prezime</span
        >
      </div>
      <input
      formControlName="lastname"
        type="text"
        class="form-control"
        aria-label="Default"
        placeholder="Upisite prezime"
        [ngClass]="{ 'is-invalid': submitted && f['lastname'].errors }"
        required
      />
    </div>

    <!--Label email and input Enter Email-->
    <div  style="width: 700px">
      <div>
        <span
          >Email</span
        >
      </div>
      <input
        formControlName="email"
        type="text"
        class="form-control"
        aria-label="Default"
        placeholder="Upisite email"
        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
        required
      />
    </div>

    <!--Button Reposrt-->
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Dodaj
      </button>
    </div>
  </form>
</div>