<h2 style="text-align: center">Dnevni korisnik: {{model.firstName}}</h2>
<hr />
<br />

<div style="margin-left: 10%">
  <form [formGroup]="form" (ngSubmit)="update()" ngNativeValidate>
    <!--Label Name and input Enter name-->
    <div style="width: 700px">
      <div>
        <span
          >Ime</span
        >
      </div>
      <input
        formControlName="firstname"
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        value={{model.firstName}}
        [ngClass]="{ 'is-invalid': submitted && f['firstname'].errors }"
        required
      />
    </div>

    <!--Label Lastname and input Enter Lastname-->
    <div style="width: 700px">
      <div>
        <span
          >Prezime</span
        >
      </div>
      <input
        formControlName="lastname"
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        value= {{model.lastName}}
        [ngClass]="{ 'is-invalid': submitted && f['lastname'].errors }"
        required
      />
    </div>

    <!--Label email and input Enter Email-->
    <div style="width: 700px">
      <div>
        <span
          >Datum rodjenja</span
        >
      </div>
      <input
        formControlName="dateOfBirth"
        type="date"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        value="{{model.dateOfBirth}}"
        [ngClass]="{ 'is-invalid': submitted && f['dateOfBirth'].errors }"
        required
      />
    </div>

    <div style="width: 700px">
      <div>
        <span
          >Poslednje prijavljivanje</span
        >
      </div>
      <input
        formControlName="lastCheckIn"
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        value={{model.lastCheckIn}}
        [ngClass]="{ 'is-invalid': submitted && f['lastCheckIn'].errors }"
        required
        readonly
      />
    </div>

    <div style="width: 700px">
      <div>
        <span
          >Broj dolazaka ovog mjeseca</span
        >
      </div>
      <input
        formControlName="mberOfArrivalsCurrentMonth"
        type="number"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        value={{model.numberOfArrivalsCurrentMonth}}
        [ngClass]="{ 'is-invalid': submitted && f['numberOfArrivalsCurrentMonth'].errors }"
        required
        readonly
      />
    </div>

    <div style="width: 700px">
      <div>
        <span
          >Broj dolazaka prošlog mjeseca</span
        >
      </div>
      <input
        formControlName="mberOfArrivalsCurrentMonth"
        type="number"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        value={{model.numberOfArrivalsLastMonth}}
        [ngClass]="{ 'is-invalid': submitted && f['numberOfArrivalsLastMonth'].errors }"
        required
        readonly
      />
    </div>



    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary" style="margin-top: 2%">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Promijeni
      </button>
    </div>
  </form>

  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary" style="margin-top: 2%" (click)="addArrival()">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Dodaj Dolazak
    </button>
  </div>

</div>
