<h2 style="text-align: center">Dnevni korisnik: {{model.firstName}}</h2>
<hr />
<br />

<div style="margin-left: 25%">
  <form [formGroup]="form" (ngSubmit)="update()" ngNativeValidate>
    <!--Label Name and input Enter name-->
    <div class="input-group mb-3" style="width: 700px">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Ime</span
        >
      </div>
      <input
        formControlName="firstname"
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        value={{model.firstName}}
        [ngClass]="{ 'is-invalid': submitted && f['firstname'].errors }"
        required
      />
    </div>

    <!--Label Lastname and input Enter Lastname-->
    <div class="input-group mb-3" style="width: 700px">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Prezime</span
        >
      </div>
      <input
        formControlName="lastname"
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        value= {{model.lastName}}
        [ngClass]="{ 'is-invalid': submitted && f['lastname'].errors }"
        required
      />
    </div>

    <!--Label email and input Enter Email-->
    <div class="input-group mb-3" style="width: 700px">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Datum rodjenja</span
        >
      </div>
      <input
        formControlName="dateOfBirth"
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        value={{model.dateOfBirth}}
        [ngClass]="{ 'is-invalid': submitted && f['dateOfBirth'].errors }"
        required
        readonly
      />
    </div>

    <div class="input-group mb-3" style="width: 700px">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Broj dolazaka ovog meseca</span
        >
      </div>
      <input
        formControlName="mberOfArrivalsCurrentMonth"
        type="number"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        value={{model.numberOfArrivalsCurrentMonth}}
        [ngClass]="{ 'is-invalid': submitted && f['numberOfArrivalsCurrentMonth'].errors }"
        required
        readonly
      />
    </div>

    <div class="input-group mb-3" style="width: 700px">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Broj dolazaka proslog meseca</span
        >
      </div>
      <input
        formControlName="mberOfArrivalsCurrentMonth"
        type="number"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        value={{model.numberOfArrivalsLastMonth}}
        [ngClass]="{ 'is-invalid': submitted && f['numberOfArrivalsLastMonth'].errors }"
        required
        readonly
      />
    </div>



    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary" style="margin-top: 2%">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Promeni
      </button>
    </div>
  </form>

  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary" style="margin-top: 2%" (click)="addArrival()">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Dodaj Dolazak
    </button>
  </div>

</div>
